{% extends "learning_logs/template.html" %}

{% block content %}
<div class="" id="topic-titles-area">
 <ul class="topiclists" id="topics">
  {% for title in titles %}
  <div class="" id="topic">
    <div class="pd">
      <li class="">
        <a href="{% url 'learning_logs:article' title.id %}">
          <h2 class="text-bold ">{{ title }}</h2>
        </a>
        <span class="dateTime">{{ title.create_at }}</span>
        {% for tag in title.tags.all %}
        <ul>
          <div class="">
            <li class="fl">
              <a href="{% url 'learning_logs:tag' tag.id %}">
               <p>{{tag}}</p>
              </a>
            </li>
          </div>
        </ul>  
        {% endfor %}
      </li>
    </div>
  </div>
  {% empty %}
  <li>記事はまだ存在しません</li>
  {% endfor %}
 </ul>
</div>

{% endblock content %}